<%= form_with(url: "/", method: "get", local: true) do %>
<div>
        <%= label_tag(:from_airport_id, "From") %>
        <%= select(:search, :from_airport_id, @airports) %>

        <%= label_tag(:to_airport_id, "To") %>
        <%= select(:search, :to_airport_id, @airports) %>

        <%= label_tag(:number_of_passengers, "Number of Passengers") %>
        <%= select(:search, :number_of_passengers, @number_of_passengers) %>

        <%= label_tag(:flight_date, "Date of flight") %>
        <%= select(:search, :flight_date, @flight_date) %>

        <%= submit_tag "Submit" %>
</div>
<% end %>