<%= render 'search' %>

<% if @eligible_flights %>

    <%= form_with(url: "/bookings/new", method: "get", local: true) do %>
        <div>
            <% @eligible_flights.each do |flight| %>
                <%= radio_button_tag(:chosen_flight, flight.id) %>
                <%= label_tag(:chosen_flight_id, "Flight #{flight.id}") %>
            <% end %>

            <%= hidden_field_tag(:number_of_passengers, @chosen_number_of_passengers) %>
            <%= submit_tag "Submit Flight" %>
        </div>
    <% end %>

<% end %>